#projects /*-------- SECTION ID--------*/
{
    min-height: auto;
    flex-direction: column;
    box-sizing: border-box;
}


.projects /*--------- CLASS --------*/
{
    height: 100vh; /*auto*/
    height: 100dvh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    /*border: 1px solid #F0F;*/
    background: rgba(235, 236, 220, 1);
    color: #000;
    font-size: 1em; /*30px*/
    justify-content: center;
    box-sizing: border-box;
}

.one
{
    position:absolute;
    display: flex;
    /*height: 100vh;*/
    height: 90%; /*90vh 90dvh*/
    width: 87%; /*87*/
    right: 2%;
    flex-direction: row;
    overflow: hidden;
    /*border: 1px solid #0F0;*/
    justify-content: center;
    align-items: center;
}

.one-g
{
    position: absolute;
    top: 2%;  /*bottom 90%*/
    margin-bottom: 2%;
    padding: 0% 1% 0% 1%;
   /* border: 1px solid #000;*/
}


/*-------- SLIDER ----------*/

.slider
{
    position: relative;
    width: 100%;
    height: 70%; /*370px  70%*/
    /*border: 1px solid #0FF;*/
    justify-content: center;
    align-items: center;
    /*cursor: pointer;*/

    -webkit-tap-highlight-color: transparent; 
    user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    touch-action: manipulation;
}

.item
{
    position: absolute;
    width: 30%; /*200px*/
    height: 100%; /*320px*/
    text-align: justify;
    border-radius: 10px;
    background: transparent;
    padding: 2%; /*20px*/
    transition: 0.5s;
    /*left: calc(50%);  /*calc(50%)*/
    transform: translateX(-50%);
    top: 0;
    border: 1px solid #000;
}

#next, #prev
{
    position: absolute;
    top: 40%;
    background-color: transparent;
    color: #000;
    border: none;
    font-size: xx-large;
    font-weight: bold;
    left: 2%; /*50px*/
    z-index: 1;
    border: 1px solid #000;
}

#next
{
    left: unset;
    right: 2%; /*50px*/
}

@media(max-width: 1200px)
{
    .item
    {
        position: absolute;
        width: 50%; /*200px*/
        height: 100%; /*320px*/
        text-align: justify;
        border-radius: 10px;
        background: transparent;
        padding: 2%; /*20px*/
        transition: 0.5s;
        /*left: calc(50%);  /*calc(50%)*/
        transform: translateX(-50%);
        top: 0;
        border: 1px solid #000;
    }
}

@media(max-width: 768px)
{
    .item
    {
        position: absolute;
        width: 65%; /*200px*/
        height: 100%; /*320px*/
        text-align: justify;
        border-radius: 10px;
        background: transparent;
        padding: 2%; /*20px*/
        transition: 0.5s;
        /*left: calc(50%);  /*calc(50%)*/
        transform: translateX(-50%);
        top: 0;
        border: 1px solid #000;
    }
}

@media(max-width: 370px)
{
    .one
    {
        position:absolute;
        display: flex;
        height: 90%; /*90vh 90dvh*/
        width: 90%; /*87*/
        /*right: 2%;*/
        flex-direction: row;
        overflow: hidden;
        /*border: 1px solid #0F0;*/
        justify-content: center;
        align-items: center;
    }

    .slider
    {
        position: relative;
        width: 100%;
        height: 70%; /*370px  70%*/
        /*border: 1px solid #0FF;*/
        justify-content: center;
        align-items: center;
        /*cursor: pointer;*/
    }

    .item
    {
        position: absolute;
        width: 90%; /*200px*/
        height: 100%; /*320px*/
        text-align: justify;
        border-radius: 10px;
        background: transparent;
        padding: 2%; /*20px*/
        transition: 0.5s;
        /*left: calc(50%);  /*calc(50%)*/
        transform: translateX(-50%);
        top: 0;
        border: 1px solid #000;
    }
}


/*--------- GAMES ---------*/

.image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover; 
    transition: transform 0.3s ease, opacity 1s ease; 
    user-select: none;
    -webkit-user-drag: none;

}

/*---------- BUTTON HOVER ---------*/

.hover-button {
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: bottom 0.3s ease, opacity 0.1s ease;
    pointer-events: none;
    touch-action: manipulation;
}

@media(hover: hover)
{
    .info-button {
        background-color:rgba(235, 236, 220, 0.6); /* rgba(0, 0, 0, 0.6);*/
        color: black; /*white*/
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        touch-action: manipulation;
        transition: background-color 0.3s ease;
    }

}

@media(hover: none)
{
    .info-button {
        background-color:rgba(235, 236, 220, 1); /* rgba(0, 0, 0, 0.6);*/
        color: black; /*white*/
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        touch-action: manipulation;
        transition: background-color 0.3s ease;
    }
}

.info-button span
{
    font-size: 10px;
    font-style: italic;
}

.info-button:hover {
    background-color: rgba(235, 236, 220, 1);
    border: 1px solid #000;
}

.hidden-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(235, 236, 220, 1);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:min(2vw, 2.5vh); /*13px; 20px;*/
    text-align: justify;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    /*z-index: 4;*/
    transition: opacity 0.3s ease;
    /*border: 1px solid #F0F;*/
}
.item.active:hover .hover-button {
    bottom: 20px;
    opacity: 1;
    pointer-events: auto;
}
.hidden-text a {
    pointer-events: auto; 
}

/*
.item.active .hidden-text.active {
    opacity: 1;
    pointer-events: auto;
}
.item.active .image.hidden,
.item.active .hover-button.hidden {
    opacity: 0;
    pointer-events: none;
}
*/


/*
.games-text {
    position: absolute;
    width: 100%;
    height: 100%;
    color: black;
    font-size: 24px;
    opacity: 0; 
    transition: opacity 0.5s ease;
}


.item.active:hover .image {
    opacity: 0; 
}

.item.active:hover .games-text {
    opacity: 1; 
}
*/

/*
#peligro
{
    
}
*/
/*------------- DESIGN -------------*/
/*
#site
{
    
}
*/