/*------------- MAIN BODY CONTENT ----------------*/
#content
{
    z-index: 100;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    overflow: hidden;
    /*opacity: 1;*/
    /*border: 1px solid #F00;*/
}

/*---------- MENU BUTTONS ----------*/

#menu
{
    width:3%;
    z-index: 1;
    position: absolute;
    height: auto;
    left: 5%;
    top: 50%; /*5% VAGY 50% <--DE AKKOR KELL--> transform: translateY(-50%);*/
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /*border: 1px solid #F00;*/
}

.menu-item {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    /*height: 50px;*/
    aspect-ratio: 1/1; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition:opacity 0.8s ease, visibility 0s 0.5s, width 0.3s, border-radius 0.3s, padding 0.3s;
    color: #FFF;
    font-size: min(1.5vw, 2vh);
    font-weight: bolder;
}

.menu-item:hover { 
    border-radius: 25px;
    cursor: pointer;
}

.menu-item::after {
    content: attr(data-text);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    white-space: nowrap;
}

.menu-item:hover::after {
    opacity: 1;
}

#menu .menu-item.visible {
    opacity: 1;
    visibility: visible; 
    transition: opacity 0.8s ease, visibility 0s 0s;
}

.menu-item.white:hover {
    /*box-shadow: 0 0 15px rgba(235, 236, 220, 0.8); */
    background: none;
}

.menu-item.black:hover {
    /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.8); */
    color: #000;
    background: none;
}

.menu-item.white {
    background: radial-gradient(circle closest-side at center, rgba(235, 236, 220, 0.8) 0, rgba(235, 236, 220, 0) ) no-repeat;
}

.menu-item.black {
    background: radial-gradient(circle closest-side at center, rgba(10, 15, 10, 0.8) 0, rgba(10, 15, 10, 0) ) no-repeat;
}

/*--------MAIN CONTENT--------*/

#maincontent
{
    width: 100%; /*91%*/
    height: 100%;
    right: 0; /*1%*/
    overflow-y: scroll;
    display: flex;
    position: absolute;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    /*border: 1px solid #F00;*/
    
}
#maincontent::-webkit-scrollbar
{
    display: none;
}

section {
    min-height: 100vh; /*100%*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid #0f0;*/
    scroll-snap-align: start; /*start;*/
    position: relative;
    flex-shrink: 0; 
}
#portfolio
{
    background: linear-gradient(to left, rgba(235, 236, 220, 1) 50%,rgba(235, 236, 220, 0.5) 75%, rgba(235, 236, 220, 0) 90%);
    width: 98%;
    left: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
#works
{
    position: absolute;
    /*border: 1px solid #000;*/
    font-size: min(1.7vw, 1.7vh);
    height: auto; /*20%*/
    width: 20%;
    right: 3%;
    top: 10%;
    text-align: justify;
}
#schools
{
    position: absolute;
    /*border: 1px solid #000;*/
    font-size: min(1.7vw, 1.7vh);
    height: auto; /*20%*/
    width: 20%;
    right: 25%;
    top: 33%;
    text-align: justify;
}
#languages
{
    position: absolute;
    /*border: 1px solid #000;*/
    font-size: min(1.7vw, 1.7vh);
    height: auto; /*15*/
    width: 20%;
    right: 3%;
    /*top: 66%;*/
    bottom: 33%;
    text-align: justify;
}
#skills
{
    position: absolute;
    /*border: 1px solid #000;*/
    font-size: min(1.7vw, 1.7vh);
    height: auto; /*20*/
    width: 20%;
    right: 25%;
    bottom: 10%;
    text-align: justify;
}
#dividing-line
{
    position: absolute;
    background-color: #000;
    height: 85%;
    width: 1px;
    right: 24%;
}

#portfolio h4 {
    font-weight: normal;
}

/*-------- PROJECTS---------*/
#projects
{
    background: rgba(235, 236, 220, 1);
    min-height: auto; 
    flex-grow: 1;
    flex-direction: column;
}

#peligro
{
    height: 100vh;
    width: 100%;
    border: 1px solid #00F;
}

#site
{
    height: 100vh;
    width: 100%;
    border: 1px solid #00F;
}

#persontext
{
    color: #FFF;
    display: flex;
    position:relative;
    bottom: 10%;
    flex-direction: column;
    font-size: 30px;
    text-align: justify;
    /*border: 1px solid #0F0;*/
}

#persontext h1
{
    font-size: min(10vw, 8vh);
}
#persontext h3
{
    font-size: min(7vw, 5vh);
    
}

#scroll
{
    position: absolute;
    color: rgba(235, 236, 220, 1);
    display: flex;
    font-size: 12px;
    /*border: 1px solid #00F;*/
    bottom: 5%;
}


/*--------- PROJECTS SECTION---------*/



/*--------- TERMINAL BUTON ---------*/

#button {
    position:absolute;
    display: flex;
    width: 7%;
    height: 7%;
    aspect-ratio: 1;
    justify-content: center;
    align-items: center;
    /*border: 1px solid #0F0;*/
    bottom: 2%;
    left: 1%;
}

#button-style
{
    position: relative;
    padding: 10% 15%;
    border-radius: 50px;
    color: #999;
    font-size: 1vw;
    font-weight: bold;
    text-decoration: none;
    background: rgba(45, 45, 45, 1);
    transition: 0.5s;
    overflow: hidden;
}

#button-style:hover
{
    color: var(--clr);
    text-shadow: 0 0 10px var(--clr);
    cursor: pointer;
}

#button-style span
{
    position: relative;
    z-index: 1;
}

#button-style::before
{
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);   
    width: 100px;
    height: 100px;
    background: radial-gradient(var(--clr), transparent, transparent);
    transition: 0.5s, top 0s, left 0s;
    opacity: 0;
}
#button-style:hover::before
{
    opacity: 1;
}

#button-style::after
{
    content: '';
    position: absolute;
    inset: 2px;
    background: rgba(45, 45, 45, 1);
    border-radius: 48px;
}
    